html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    background: #F9C784 url('../img/veronika.png') no-repeat;
    font: 2em 'PT Sans', sans-serif;
    text-align: right;
    color: white;
    margin: 5%;
    line-height: 1.5;
    padding: 3em 1em;
}

.menu {
    width: 50%;
    position: fixed;
    right: 1em;
    top: 0em;
}
.nav {
    text-align: right;
    margin: 0;
    padding: 1em;
    background-color: #4e598c;
}

.nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
}


.nav a  {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.header {
    height: 2em;
}

h1 {
    font: bolder 1.4em;
    text-transform: uppercase;
}

.list {
    list-style-image: url('../img/2a.png');
    font-size: 1em;
    color: #4e598c;
}
        
p {
    color: white;
    font-size: 0.4em;
}

.blabla {
    width: 50%;
    text-anchor: middle;
    margin-left: 50%;
}


.alert {
    color: #4e598c;
}

p.alert {
    font-size: 0.8em;
}