body   {
    background: #F9C784 url('../img/veronika.png') no-repeat;
    font: 16px Arial, Helvetica, sans-serif;
    text-align: right;
    color: white; 
    margin: 5%;
}
.header {
    height: 100px;
}
h1 {
    font: bolder 3em;
    text-transform: uppercase;
}
.list   {
    list-style-image: url('../img/2a.png'); 
    font-size: 3em;
    color: #4e598c;
}
p  {
    color: white;
    font-size: 0.4em;
}
.blabla {
    width: 50%;
    text-anchor: middle;
    margin-left: 50%;
}
.alert  {
    color: #4e598c;
}
p.alert  {
    font-size: 0.8em;
}


